{% comment %}
Recibe:
@product: Objeto del producto
@class: String con las clases

{% endcomment  %}

{%- liquid
  assign on_sale = false
  assign month = 30 | times: 24 | times: 60 | times: 60
  assign date_created = product.created_at | date: "%Y-%m-%d"
  assign dead_line = "now" | date: "%s" | minus: month | date: "%Y-%m-%d"
  if product.compare_at_price_max > product.price
    assign on_sale = true
  endif
-%}

<li class="{{ class }}" x-data="{
  loading:false,
  addToCart(){
    loading = true;
    let formData = new FormData($refs.product_form);
    fetch('/cart/add.js', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(response => {
      $dispatch('update-cart');
      $dispatch('toggle-cart');
    })
    .catch(error=> console.error('Error ', error))
    .finally(()=> loading = false)
  } 
}">
  <div clas="relative">
    {% render 'loader' %}
    <a href="{{ product.url }}" class="relative">
      {% if on_sale %}
        {% assign percentage = product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max %}
        <span class="text-white uppercase font-gobold-italic bg-[#a00] absolute top-0 right-0 z-[99] py-1 px-2">{{ percentage }}% off</span>  
      {% endif %}
      {% if date_created > dead_line %}
        <span class="absolute font-gobold-italic bottom-0 left-0 text-white uppercase bg-[#a00] z-[99] py-1 px-2">
          Nuevo
        </span>
      {% endif %}
      {% unless product.available %}
        <div class="absolute top-0 left-0 bottom-0 right-0 bg-[rgba(74,74,73,.62)] text-white uppercase font-gobold-italic z-[99] flex justify-center items-center">
          <span class="bg-[#4B4F54] py-2 px-2">Agotado</span>
        </div>
      {% endunless %}
      <img
        class="aspect-square object-fit object-center w-full"
        src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
        alt="{{ product.featured_image.alt }}"
        loading="lazy"
      />
    </a> 
  </div>
  <a href="{{ product.url }}">
    <span class="uppercase line-clamp-2 my-4 font-semibold leading-none {% if product.available == false %}text-[rgba(74,74,73,0.37)]{% endif %}">{{ product.title }}</span>
  </a>
  <div class="flex justify-between items-end">
    <form action="{{ routes.cart_add_url }}" method="POST" id="Product-Form-{{ product.selected_or_first_available_variant.id }}" x-ref="product_form" class="hidden">
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    </form>
    <div class="flex gap-x-1 sm:gap-x-1 lg:gap-x-3 items-center">
      {% if on_sale %}
        <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
        <span class="font-gobold uppercase font-black text-[15px] lg:text-[25px] {% if product.available == false %}text-[rgba(74,74,73,0.37)]{% else %}text-[#a00]{% endif %}">{{ product.price | money }}</span>
        <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
        <s class="text-xs {% if product.available == false %}text-[rgba(74,74,73,0.37)] decoration-[text-[rgba(74,74,73,0.37)]]{% else %}decoration-[#a00]{% endif %}">{{ product.compare_at_price_max | money }}</s>
      {% else %}
        <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="font-gobold uppercase font-black text-[15px] lg:text-[25px] {% if product.available == false %}text-[rgba(74,74,73,0.37)]{% else %}text-[#a00]{% endif %}">{{ product.price | money }}</span>
      {% endif %} 
    </div>
    <button type="button" class="flex center border border-transparent py-1 px-2 {% if product.available %}bg-[#a00] text-white hover:bg-[#EFD4D4] hover:text-[#a00] transition-color duration-200 ease-in-out{% else %}bg-[rgba(74,74,73,.37)] text-[#4a4a49]{% endif %}" name="add" form="Product-Form-{{ product.selected_or_first_available_variant.id }}" {% unless product.available %}disabled{% endunless %} {% if product.available %}@click="addToCart"{% endif %}>
      {% render 'icon-bag' %}
      <span class="sr-only">Agregar al carro</span>
    </button>
  </div>
</li>