<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% if settings.favicon != blank %}
      <!--FAVICON-->
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    <!--TITLE-->    
    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    <!--DESCRIPTION-->
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!--METATAGS-->
    {% render 'meta-tags' %}

    <!--LOAD JAVASCRIPT -->
    <script src="{{ 'app.js' | asset_url }}" defer></script>

    <!--LOAD SHOPIFY HOOK -->
    {{ content_for_header }}

    <!--LOAD MAIN CSS -->
    {{ 'main.css' | asset_url | stylesheet_tag }}
    <!--DESIGN-MODE-->
    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
</head>
<body>
  <div>
    {% comment %}
      Delete the next alpine js component is there only for test purpose.
    {% endcomment %}
    <div x-data="{ open: false }">
      <button @click="open = !open">
        Expand
      </button>
      <div x-show="open">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis asperiores quibusdam alias voluptatibus exercitationem. Ea, quas voluptatum delectus veniam laboriosam recusandae aut quos aliquam? Eius magnam dolore quia quas nam!
      </div>
    </div>
  </div>
  <main>
    {{ content_for_layout }}
  </main> 
</body>
</html>