<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    

    {% if settings.favicon != blank %}
      <!--FAVICON-->
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    <!--TITLE-->    
    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    <!--DESCRIPTION-->
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!--METATAGS-->
    {% render 'meta-tags' %}

    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </noscript>

    <!--GOOGLE-FONT BARLOW-->  
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >

    <!--LOAD JAVASCRIPT -->
    <script src="{{ 'app.js' | asset_url }}" defer></script>

    <!--LOAD SHOPIFY HOOK -->
    {{ content_for_header }}

    <!--LOAD MAIN CSS -->
    {{ 'main.css' | asset_url | stylesheet_tag }}
    <!--DESIGN-MODE-->

    <style>
      @font-face {
        font-family: 'Gobold-Bold';
        src: url({{ 'gobold_bold_italic-webfont.woff2' | asset_url }}) format('woff2');
      }
    </style>
    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
</head>
<body class="font-barlow text-[#4a4a49]">
  {% section 'announcement-bar' %}
  {% section 'header' %}  
  <main class="min-h-[90vh]">
    {{ content_for_layout }}
  </main> 
  {% section 'footer' %}
</body>
</html>