<div class="wrapper flex flex-col justify-left md:[&>section]:my-7 [&>section]:my-4 my-8 [&>*]:w-[100%] sm:[&>*]:w-[85%] md:[&>*]:w-[60%] [&>*]:mx-auto [&>section]:space-y-3">
{% comment %} LLAMANOS DESKTOP {% endcomment %}
  <section class="hidden sm:flex">
    <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full p-2 md:p-6 bg-[#edeef0]">
      <img src="{{ section.settings.image_llamanos | image_url }}" width="auto" height="auto" />
      </div>
    <div class="info w-4/5">
      <h2 class="text-lg">{{ section.settings.llamanos-title }}</h2>
      <p>{{ section.settings.llamanos-content }}</p>
      <a
        class="mt-4 block w-max border border-black md:w-[50%] py-1 px-4 rounded-2xl text-center"
      >
        {{ section.settings.llamanos-number }}
      </a>
    </div>
  </section>

  {% comment %} LLAMANOS MÓVIL {% endcomment %}
  <section class="flex sm:hidden">
    <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full p-2 md:p-6 bg-[#edeef0]">
      <img src="{{ section.settings.image_llamanos | image_url }}" width="auto" height="auto" />
    </div>
    <div class="info w-4/5">
      <h2 class="text-lg">{{ section.settings.llamanos-title }}</h2>
      <p>{{ section.settings.llamanos-number }}</p>
      <p>{{ section.settings.llamanos-content }}</p>
      <a
        href="tel:+56229140620"
        class="mt-4 block w-max border border-black md:w-[50%] py-1 px-4 rounded-2xl text-center"
      >
        {{ section.settings.llamanos-number-mobile }}
      </a>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Llámanos",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_llamanos",
        "label": "Imagen llámanos"
      },
      {
        "type": "text",
        "id": "llamanos-title",
        "label": "Título de llámanos"
      },
      {
        "type": "text",
        "id": "llamanos-content",
        "label": "Descripción"
      },
      {
        "type": "text",
        "id": "llamanos-number",
        "label": "Número de teléfono"
      },
      {
        "type": "text",
        "id": "llamanos-link",
        "label": "Llamar a Servicio al cliente (sólo poner número: 569XXXXXXXX)"
      },
      {
        "type": "text",
        "id": "llamanos-number-mobile",
        "label": "Botón llámanos mobile"
      },
    ],
    "blocks": []  
  }
{% endschema %}