<div class="wrapper mb-24 grid gap-8 grid-cols-1 md:grid-cols-3 md:px-4 lg:px-24">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'llamanos' %}
        {% comment %} LLAMANOS {% endcomment %}
        <div class="flex flex-col mt-10 shadow-md border border-gray-200 rounded-2xl py-8 min-h-[350px] sm:min-h-[300px] md:min-h-[400px] relative">
          {% comment %} LLAMANOS DESKTOP {% endcomment %}
          <section class="hidden sm:flex sm:flex-col sm:justify-center text-center px-4">
            <div class="mx-auto icon flex flex-col justify-center items-center min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full">
              <img
                src="{{ block.settings.image_llamanos | image_url }}"
                width="auto"
                height="auto"
              >
            </div>
            <div class="info mt-8">
              <h2 class="text-lg font-semibold">
                {{ block.settings['llamanos-title'] }}
              </h2>
              <p>{{ block.settings['llamanos-content'] }}</p>
            </div>
          </section>
          <div class="hidden md:block absolute bottom-[10%] md:bottom-[20%] mx-auto w-full">
            <a
              class="mt-6 block mx-auto w-full sm:w-[70%] md:w-[90%] lg:w-max border bg-[#a00] text-white py-1.5 px-2 lg:px-8 rounded-2xl text-center"
            >
              {{ block.settings['llamanos-number'] }}
            </a>
          </div>

          {% comment %} LLAMANOS MÓVIL {% endcomment %}
          <section class="flex flex-col justify-center text-center sm:hidden px-4">
            <div class="mx-auto icon flex flex-col justify-center items-center min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full">
              <img
                src="{{ block.settings.image_llamanos | image_url }}"
                width="auto"
                height="auto"
              >
            </div>
            <div class="info mt-8">
              <h2 class="text-lg font-semibold">
                {{ block.settings['llamanos-title'] }}
              </h2>
              <p>{{ block.settings['llamanos-number'] }}</p>
              <p class="mt-4 md:hidden">
                {{ block.settings['llamanos-content'] }}
              </p>
            </div>
          </section>
          <div class="block md:hidden absolute bottom-[10%] md:bottom-[20%] mx-auto w-full">
            <a
              href="tel:+56229140620"
              class="mt-4 md:mt-6 block mx-auto w-[90%] sm:w-[50%] md:w-[90%] lg:w-max border bg-[#a00] text-white py-1.5 px-2 lg:px-8 rounded-2xl text-center"
            >
              {{ block.settings['llamanos-number-mobile'] }}
            </a>
          </div>
        </div>
      {% when 'whatsapp' %}
        {% comment %} WHATSAPP {% endcomment %}
        <div class="flex flex-col mt-10 shadow-md border border-gray-200 rounded-2xl py-8 min-h-[300px] md:min-h-[400px] relative">
          {% comment %} WHATSAPP DESKTOP {% endcomment %}
          <section class="hidden sm:flex sm:flex-col sm:justify-center text-center px-4">
            <div class="mx-auto icon flex flex-col justify-center items-center min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full">
              <img
                src="{{ block.settings.image_whatsapp | image_url }}"
                width="auto"
                height="auto"
              >
            </div>
            <div class="info mt-8">
              <h2 class="text-lg font-semibold">
                {{ block.settings['whatsapp-title'] }}
              </h2>
              <p>{{ block.settings['whatsapp-content'] }}</p>
            </div>
          </section>
          <div class="hidden md:block absolute bottom-[10%] md:bottom-[20%] mx-auto w-full">
            <a
              href="https://wa.me/{{ block.settings.whatsapp-link }}"
              _blank
              class="mt-4 md:mt-6 block mx-auto w-[90%] sm:w-[50%] md:w-[90%] lg:w-max border bg-[#a00] text-white py-1.5 px-2 lg:px-8 rounded-2xl text-center"
            >
              {{ block.settings['whatsapp-number'] }}
            </a>
          </div>

          {% comment %} WHATSAPP MÓVIL {% endcomment %}
          <section class="flex flex-col justify-center text-center sm:hidden px-4">
            <div class="mx-auto icon flex flex-col justify-center items-center min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full">
              <img
                src="{{ block.settings.image_whatsapp | image_url }}"
                width="auto"
                height="auto"
              >
            </div>
            <div class="info mt-8">
              <h2 class="text-lg font-semibold">
                {{ block.settings['whatsapp-title'] }}
              </h2>
              <p class="mt-4 md:hidden">
                {{ block.settings['whatsapp-content'] }}
              </p>
            </div>
          </section>
          <div class="block md:hidden absolute bottom-[10%] md:bottom-[20%] mx-auto w-full">
            <a
              href="https://wa.me/{{ block.settings.whatsapp-link }}"
              _blank
              class="mt-4 md:mt-6 block mx-auto w-[90%] sm:w-[50%] md:w-[90%] lg:w-max border bg-[#a00] text-white py-1.5 px-2 lg:px-8 rounded-2xl text-center"
            >
              {{ block.settings['whatsapp-number-mobile'] }}
            </a>
          </div>
        </div>
      {% when 'email' %}
        {% comment %} EMAIL {% endcomment %}
        <div class="flex flex-col mt-10 shadow-md border border-gray-200 rounded-2xl py-8 min-h-[250px] md:min-h-[400px] relative">
          {% comment %} EMAIL {% endcomment %}
          <section class="flex flex-col justify-center text-center w-full px-4">
            <div class="mx-auto icon flex flex-col justify-center items-center min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full">
              <img
                src="{{ block.settings.image_email | image_url }}"
                width="auto"
                height="auto"
              >
            </div>
            <div class="info mt-4 md:mt-8">
              <h2 class="text-lg font-semibold">
                {{ block.settings['email-title'] }}
              </h2>
            </div>
          </section>
          <div class="absolute bottom-[10%] md:bottom-[20%] mx-auto w-full">
            <a
              href="mailto:{{ block.settings.email }}"
              class="mt-4 md:mt-6 block mx-auto w-[90%] sm:w-[50%] md:w-[90%] lg:w-max border bg-[#a00] text-white py-1.5 px-2 lg:px-8 rounded-2xl text-center"
            >
              {{- block.settings.email -}}
            </a>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "contacto",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "llamanos",
      "limit": 1,
      "name": "Llámanos",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_llamanos",
          "label": "Imagen llámanos"
        },
        {
          "type": "text",
          "id": "llamanos-title",
          "label": "Título de llámanos"
        },
        {
          "type": "text",
          "id": "llamanos-content",
          "label": "Descripción"
        },
        {
          "type": "text",
          "id": "llamanos-number",
          "label": "Número de teléfono"
        },
        {
          "type": "text",
          "id": "llamanos-link",
          "label": "Llamar a Servicio al cliente (sólo poner número: 569XXXXXXXX)"
        },
        {
          "type": "text",
          "id": "llamanos-number-mobile",
          "label": "Botón llámanos mobile"
        }
      ]
    },
    {
      "type": "whatsapp",
      "limit": 1,
      "name": "WhatsApp",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_whatsapp",
          "label": "Imagen whatsapp"
        },
        {
          "type": "text",
          "id": "whatsapp-title",
          "label": "Título de whatsapp"
        },
        {
          "type": "text",
          "id": "whatsapp-content",
          "label": "Descripción"
        },
        {
          "type": "text",
          "id": "whatsapp-number",
          "label": "Número de teléfono"
        },
        {
          "type": "text",
          "id": "whatsapp-link",
          "label": "Iniciar whatsapp (sólo poner número: 569XXXXXXXX)"
        },
        {
          "type": "text",
          "id": "whatsapp-number-mobile",
          "label": "Botón whatsapp mobile"
        }
      ]
    },
    {
      "type": "email",
      "limit": 1,
      "name": "Email",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_email",
          "label": "Imagen e-mail"
        },
        {
          "type": "text",
          "id": "email-title",
          "label": "Título de llámanos"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Dirección de correo"
        }
      ]
    }
  ]
}
{% endschema %}
