<div class="header" x-data="{
    atTop: false
  }"
  :class="{'header' : !atTop, 'header-fixed': atTop}"
  @scroll.window="atTop = (window.pageYOffset < 50) ? false : true"
>
  <div class="relative block py-4" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
    <div class="wrapper">
      <div class="grid items-center grid-header">
        <div x-data="{
          open: false,
          handleMenu(){
            this.open = !this.open;
            $refs.drawer_menu.classList.toggle('active');
          }
        }"
        @toggle-menu.window="handleMenu"
        @keyup.escape="$dispatch('toggle-menu')" 
        class="block col-start-1 col-end-2 lg:hidden">
          <button @click="$dispatch('toggle-menu')" aria-label="{{ 'sections.header.menu' | t }}">
            {% render 'icon-burger' %}
          </button>
          {% render 'drawer-menu' %}
        </div> 
        <div class="col-start-2 col-end-5 lg:col-start-1 lg:col-end-2 flex justify-center lg:justify-start">
          <a href="{{ routes.root_url }}">
            {% render 'logo', class: 'w-[120px] h-[41.4px] lg:w-[200px] lg:h-[69px]' %}
          </a>
        </div> 
        <nav class="hidden lg:flex justify-center lg:col-start-2 lg:col-end-5">
          <ul class="flex items-center">
            {% for link in linklists.main-menu.links %}
              <li>
                {% if link.links.size > 0 %}
                <div x-data="{
                  open: false, 
                  handleOpen(){
                    this.open = !this.open;  
                    this.open ? $refs.detail.setAttribute('open', true) : $refs.detail.removeAttribute('open');  
                  }}">
                  <details 
                  x-ref="detail"
                  class="px-2 detail-submenu relative"
                  @mouseover="handleOpen"
                  @mouseout="handleOpen"
                  >
                    <summary class="flex items-center gap-x-1">
                      <a href="{{ link.url }}" class="block hover:underline hover:text-[#a00] hover:underline-offset-2 font-semibold uppercase text-[15px] py-2 {% if link.current %}text-[#a00]{% endif %}" {% if link.current %}aria-current="page"{% endif %}>
                        {{ link.title | escape }}
                      </a>
                      <span x-ref="caret">{% render 'icon-caret', class: 'w-3' %}</span>
                    </summary>
                    <div class="w-[250px] absolute top-full left-0 z-[999] bg-white py-4 px-4 border-t border-gray-400" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                      <ul>
                        {% for childlink in link.links %}
                          <li>
                            <a href="{{ childlink.url }}" class="block hover:underline hover:text-[#a00] hover:underline-offset-2 font-semibold uppercase text-[15px] py-1 {% if childlink.current %}text-[#a00]{% endif %}" {% if childlink.current %}aria-current="page"{% endif %}>
                              {{ childlink.title | escape }}
                            </a> 
                          </li>
                        {% endfor %}
                      </ul>
                    </div> 
                  </details>
                </div>         
                {% else %}
                  <a href="{{ link.url }}" class="block hover:underline hover:text-[#a00] hover:underline-offset-2 px-4 font-semibold uppercase text-[15px] py-2 {% if link.current %}text-[#a00]{% endif %}" {% if link.current %}aria-current="page"{% endif %}>
                    {{ link.title | escape }}
                  </a>  
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="flex justify-end items-center gap-x-1 lg:gap-x-2 col-start-5 col-end-6">
          <div x-data="{
            open: false,
            toggleSearch(){
              this.open = !this.open;
              $refs.search_bar.classList.toggle('hidden');
              this.open ? $refs.search_open.classList.add('hidden'):$refs.search_open.classList.remove('hidden');
              this.open ? $refs.search_close.classList.remove('hidden'):$refs.search_close.classList.add('hidden');
              this.open ? $refs.search_overlay.classList.remove('hidden'): $refs.search_overlay.classList.add('hidden');
              if(!this.open){
                $refs.search_input.value = '';
                $refs.predictive_search.style.display = 'none';
              }
              $nextTick(() =>{
                $refs.search_input.focus();
              })
            }
          }"
          @toggle-search.window="toggleSearch"
          @keyup.escape="$dispatch('toggle-search')"
          >
            <a href="{{ routes.search_url }}" @click.prevent="$dispatch('toggle-search')">
              {% render 'icon-search', class: 'w-[19.2px] h-[19.2px] lg:w-[24px] lg:h-[24px]', xref: 'search_open' %}
              {% render 'icon-close', class: 'w-[19.2px] h-[19.2px] lg:w-[24px] lg:h-[24px] fill-black hidden', xref: 'search_close' %}
            </a>
            {% render 'search-bar' %}
          </div>
          {% if shop.customer_accounts_enabled %}
          <div>
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
              {% render 'icon-user', class: 'w-[24px] h-[24px] lg:w-[30px] lg:h-[30px]' %}
            </a>
          </div>
          {% endif %}
         
          <div x-data="{
            open: false,
            toggleCart(){
              this.open = !this.open;
              $refs.drawer_cart.classList.toggle('active');
            },
            updateCart(event){
              event.preventDefault();
              fetch('/?view=cart')
              .then(response => response.text())
              .then(data => {
                $refs.cart_content.innerHTML = data;
                const div = document.createElement('div');
                div.innerHTML = data;
                const cartCount = JSON.parse(div.querySelector('[data-options]').innerHTML).item_count;
                if(cartCount > 0){
                  $refs.cart_count.innerText = cartCount
                  $refs.cart_count.classList.remove('hidden');
                }else{
                  $refs.cart_count.innerText = cartCount
                  $refs.cart_count.classList.add('hidden');
                } 
              })
              .catch(error => console.error('Error: ', error))
            }
            //updateCount
          }"
          @toggle-cart.window="toggleCart"
          @update-cart.window="updateCart"
          @keyup.escape="$dispatch('toggle-cart')"
          >
          <a href="{{ routes.cart_url }}" {% if settings.drawer_cart %}@click.prevent="$dispatch('toggle-cart')"{% endif %} class="relative block">
              {% render 'icon-cart', class: 'w-[19.2px] h-[20.8px] lg:w-[24px] lg:h-[26px]' %}              
              <span aria-hidden="true" class="text-white absolute -top-1 -right-1 bg-[#a00] text-xs w-[14px] h-[14px] rounded-[50%] flex justify-center items-center font-bold {% if cart == empty %}hidden{% endif %}" x-ref="cart_count">
                {{ cart.item_count }}
              </span>  
            </a>
            {% if settings.drawer_cart %}
              {% render 'drawer-cart' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "block",
    "settings": [
    ]
  }
{% endschema %} 