<div class="wrapper">
  <div class="prose mx-auto mt-12 mb-20">
    {% case request.path %}
      {% when '/policies/privacy-policy' %}
      <h1 class="text-[20px] font-gobold tracking-[1px] lg:text-[30px] uppercase text-center">{{ shop.privacy_policy.title | escape }}</h1>
      <div>
        {{ shop.privacy_policy.body }}
      </div>
      {% when '/policies/terms-of-service' %}
      <h1 class="text-[20px] font-gobold tracking-[1px] lg:text-[30px] uppercase text-center">{{ shop.terms_of_service.title | escape }}</h1>
      <div>
        {{ shop.terms_of_service.body }}
      </div>
      {% when '/policies/refund-policy' %}
      <h1 class="text-[20px] font-gobold tracking-[1px] lg:text-[30px] uppercase text-center">{{ shop.refund_policy.title | escape }}</h1>
      <div>
        {{ shop.refund_policy.body }}
      </div>
      {% comment %} shop.shipping_policy {% endcomment %}
      {% when '/policies/shipping-policy' %}
      <h1 class="text-[20px] font-gobold tracking-[1px] lg:text-[30px] uppercase text-center">{{ shop.shipping_policy.title | escape }}</h1>
      <div>
        {{ shop.shipping_policy.body }}
      </div>
    {% endcase %}
  </div>
</div>

{% schema %}
  {
    "name": "Policies",
    "settings": []
  }
{% endschema %}