<div x-data="{ 
                                      open: false, 
                                      handlePassword(){
                                        this.open = !this.open
                                        !this.open ? $refs.password_modal.classList.add('invisible') : $refs.password_modal.classList.remove('invisible')
                                      }
                                    }">
    <header>
      <div class="wrapper">
        <div class="py-4 flex justify-end">
          <button class="underline underline-offset-2 text-sm" @click="()=> handlePassword()">
            Entrar usando contraseña
          </button>
        </div>
      </div>
    </header>
    <div class="wrapper min-h-[90vh] flex justify-center items-center flex-col">
      <div class="mx-auto">
        {% render 'logo' %}
        <span class="sr-only">Scaldasonno</span>
      </div>
      <p class="text-center text-2xl mt-4">Estamos trabajando para mejorar tu experiencia en nuestro sitio</p>
      <p>Pronto volveremos renovados para tí</p>
      <div>
        {% form 'customer', class: 'newsletter-form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <label for="NewsletterForm--{{ section.id }}" class="mx-auto block mt-4 text-center leading-[1.1] mb-2">
              Deja tu correo y enterate de las novedades de scaldasonno
            </label>
            <div class="flex items-center mb-8">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="block max-w-[300px] w-full p-2 border border-[#4a4a49] focus:outline-[#a00]"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Newsletter-error--{{ section.id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Newsletter-success--{{ section.id }}"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              > 
              <button
                type="submit"
                class="block bg-[#a00] text-white font-gobold tracking-[1px] font-bold w-max px-8 py-2 uppercase transition-colors duration-200 ease-in-out hover:bg-[#EFD4D4] hover:text-[#a00] mx-auto border border-[#a00]"
                name="commit"
                id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                Enviar
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {% endform %}
      </div>
    </div>
    <div class="absolute top-0 left-0 z-[99] invisible bg-white w-full h-full" x-ref="password_modal">
      <div class="wrapper flex flex-col h-full">
        <div class="py-4 flex justify-end items-center">
          <button @click="()=> handlePassword()" aria-label="cerrar contraseña">
            {% render 'icon-close' %}
          </button>
        </div>
        <div class="flex-1 flex flex-col justify-center items-center">
          <h2 class="text-center text-2xl max-w-[300px] mx-auto leading-[1.1]">Ingresa la contraseña para entrar al sitio</h2>
          {%- form 'storefront_password', class: 'password-form' -%}
            <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
              <input
                type="password"
                name="password"
                id="Password"
                class="border border-black block my-4 w-[300px] p-2 focus:outline-[#a00]"
                autocomplete="current-password"
                {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="sr-only">{{ 'accessibility.error' | t }}</span>
                  <span class="flex gap-x-1 items-center">
                    {%- render 'icon-error', class: 'w-4' %}
                    {{ 'general.password_page.login_form_error' | t -}}
                  </span>
                </div>
              {%- endif -%}
            </div>
            <button name="commit" class="block bg-[#a00] text-white font-gobold tracking-[1px] font-bold w-max px-4 py-2 uppercase transition-colors duration-200 ease-in-out hover:bg-[#EFD4D4] hover:text-[#a00] mx-auto">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>