<div class="wrapper my-12 grid grid-cols-1 md:grid-cols-2">
  {% comment %} ------ /// DIRECCIÓN /// ------ {% endcomment %}
  <div class="left mt-8 md:mt-0">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'direccion' %}
          <div class="direccion flex items-center">
            <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[50px] min-w-[50px] max-w-[50px] max-h-[50px] md:min-h-[60px] md:min-w-[60px] md:max-h-[60px] md:max-w-[60px] md:h-[60px] md:w-[60px] rounded-full p-2 md:p-3 bg-[#494547]">
              <img src="{{ block.settings.icon_casa | image_url }}" width="auto" height="auto" />
            </div>
            <div class="w-4/5">
              <h2 class="text-lg mb-2 font-semibold">{{ block.settings.title-direccion }}</h2>
              <p class="">{{ block.settings.direccion }}</p>
            </div>
          </div>

        {% when 'starken' %}
          {% comment %} IMAGEN {% endcomment %}
          <div class="mt-14">
            <div class="info flex items-center">
              <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[50px] min-w-[50px] max-w-[50px] max-h-[50px] md:min-h-[60px] md:min-w-[60px] md:max-h-[60px] md:max-w-[60px] md:h-[60px] md:w-[60px] p-2">
                <img src="{{ block.settings.icon_location | image_url }}" width="auto" height="auto" />
              </div>
              <h2 class="text-lg font-semibold">{{ block.settings.location_text }}</h2>
            </div>
            <div class="mb-12">
              {% if block.settings.image_starken_desktop != blank %}
                {{
                  block.settings.image_starken_desktop
                  | image_url: width: 1600
                  | image_tag: loading: 'lazy', alt: 'starken', class: 'hidden sm:block'
                }}
              {% endif %}
              {% if block.settings.image_starken_mobile != blank %}
                {{
                  block.settings.image_starken_mobile
                  | image_url: width: 900
                  | image_tag: loading: 'lazy', alt: 'starken', class: 'sm:hidden'
                }}
              {% endif %}
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>

  <div class="right -order-1 md:order-1">
    <div class="flex flex-col justify-left md:[&>section]:mx-7 md:[&>section]:mb-7 [&>section]:mb-4 [&>*]:w-[100%] [&>*]:mx-auto [&>section]:space-y-3">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'llamanos' %}
            {% comment %} LLAMANOS DESKTOP {% endcomment %}
            <section class="flex">
              <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full p-2 md:p-6 bg-[#edeef0]">
                <img src="{{ block.settings.icon_llamanos | image_url }}" width="auto" height="auto" />
              </div>
              <div class="info w-4/5">
                <h2 class="text-lg font-semibold">{{ block.settings.llamanos-text }}</h2>
                <p>{{ block.settings.llamanos-content }}</p>
                <a
                  class="mt-4 block w-[100%] border border-black xl:w-[65%] py-1 px-4 rounded-2xl text-center"
                  href="tel:+{{ block.settings.link-llamanos }}"
                >
                  {{ block.settings.telefono-llamanos }}
                </a>
              </div>
            </section>
          {% when 'whatsapp' %}
            {% comment %} WHATSAPP DESKTOP {% endcomment %}
            <section class="flex">
              <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full p-2 md:p-6 bg-[#edeef0]">
                <img src="{{ block.settings.icon_whatsapp | image_url }}" width="auto" height="auto" />
              </div>
              <div class="info w-4/5">
                <h2 class="text-lg font-semibold">{{ block.settings.whatsapp-text }}</h2>
                <p>{{ block.settings.whatsapp-content }}</p>
                <a
                  href="https://wa.me/{{ block.settings.link_whatsapp }}"
                  _blank
                  class="mt-4 block w-[100%] border border-black xl:w-[65%] py-1 px-4 rounded-2xl text-center"
                >
                  {{ block.settings.telefono-whatsapp }}
                </a>
              </div>
            </section>
          {% when 'email' %}
            {% comment %} EMAIL {% endcomment %}
            <section class="flex items-center">
              <div class="flex items-center justify-center bg-[#edeef0] rounded-full min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] mr-4 md:mr-0">
                <div class="border-black icon MOBILE min-h-[30px] max-h-[30px] min-w-[40px] max-w-[40px] DESKTOP md:min-h-[40px] md:max-h-[40px] md:min-w-[50px]  md:max-w-[50px] md:h-[50px] md:w-[50px] rounded-full flex">
                  <img src="{{ block.settings.icon_email | image_url }}" width="auto" height="auto" />
                </div>
              </div>
              <div class="info w-4/5 md:pl-4">
                <h3 class="text-lg font-semibold">{{ block.settings.email-text }}</h3>
                <a
                  href="mailto:{{ block.settings.email-content }}"
                  class="mt-4 block w-full border border-black xl:w-[65%] py-1 px-4 rounded-2xl text-center"
                  >{{ block.settings.email-content }}</a
                >
              </div>
            </section>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Servicio Técnico",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "direccion",
      "name": "Dirección",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_casa",
          "label": "Ícono casa"
        },
        {
          "type": "text",
          "id": "title-direccion",
          "label": "Título Dirección"
        },
        {
          "type": "text",
          "id": "direccion",
          "label": "Dirección"
        }
      ]
    },
    {
      "type": "starken",
      "name": "Starken",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_location",
          "label": "Ícono mapa"
        },
        {
          "type": "text",
          "id": "location_text",
          "label": "Texto mapa"
        },
        {
          "type": "image_picker",
          "id": "image_starken_desktop",
          "label": "Imagen Starken Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_starken_mobile",
          "label": "Imagen Starken Móvil"
        }
      ]
    },
    {
      "type": "llamanos",
      "name": "Llámanos",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_llamanos",
          "label": "Ícono Llámanos"
        },
        {
          "type": "text",
          "id": "llamanos-text",
          "label": "Título llámanos"
        },
        {
          "type": "text",
          "id": "llamanos-content",
          "label": "Contenido llámanos"
        },
        {
          "type": "text",
          "id": "telefono-llamanos",
          "label": "Teléfono llámanos"
        },
        {
          "type": "text",
          "id": "link-llamanos",
          "label": "Botón para llamar (sólo poner número: 569XXXXXXXX)"
        }
      ]
    },
    {
      "type": "whatsapp",
      "name": "WhatsApp",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_whatsapp",
          "label": "Ícono WhatsApp"
        },
        {
          "type": "text",
          "id": "whatsapp-text",
          "label": "Título WhatsApp"
        },
        {
          "type": "text",
          "id": "whatsapp-content",
          "label": "Contenido WhatsApp"
        },
        {
          "type": "text",
          "id": "telefono-whatsapp",
          "label": "Teléfono WhatsApp"
        },
        {
          "type": "text",
          "id": "link_whatsapp",
          "label": "Abrir WhatsApp (sólo poner número: 569XXXXXXXX)"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_email",
          "label": "Ícono email"
        },
        {
          "type": "text",
          "id": "email-text",
          "label": "Título Email"
        },
        {
          "type": "text",
          "id": "email-content",
          "label": "Email"
        }
      ]
    }
  ],
  "presets": []
}
{% endschema %}